node_modules
.next
out
.env.local
.env
.DS_Store
.vscode
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.pnp
/.pnp.js
package-lock.json
pnpm-lock.yaml
yarn.lock
/.parcel-cache
/.turbo

# macOS
Icon?
node_modules
